<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}App{% endblock %}</title>
  <link rel="stylesheet" href="../css/stylesheet.css">
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>

