

<!DOCTYPE html>
{# NOTE: THIS TWIG EXTENSION DOES NOT EXTEND TO BASE.PHP. BASE.TWIG IS SIMPLY A NAMING CONVENTION FOR TWIG. NOT CHANGING IT IN CASE OF IT BEING SIMILAR FUNCTION TO INDEX.HTML #}
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}App{% endblock %}</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  {% block content %}{% endblock %}
 
</body>
</html>

