{% extends "base.twig" %}

{% block title %}Share{% endblock %}

{% block content %}
    <section>
        <div class="s-outter-layer">
            <div class="s-inner-layer">

                <h1 class="share-header">Welcome!</h1>
                <!--BEGIN FIRST IF STMT. note how modules is imported from share.php via 
                        "echo $twig->render('share.twig', ['modules' => $modules]);"
                --> 

                {% if modules is not empty %} 
                    <ul>

                        {% for module in modules %} <!--begin first for loop-->
                            <li class="s-content">
                               <h2><strong>{{ module.name }}</strong></h2><br>
                                {{ module.description }}
                            </li>
                        {% endfor %} <!--end first for loop-->

                    </ul>
                {% else %}
                    <p>No modules completed yet.</p>
                {% endif %} <!--end first if stmt-->

            </div>
        </div>
    </section>
{% endblock %}

